/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #323232;
  font-size: 16px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 33px 0;
}
@media screen and (max-width: 768px) {
  .header__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.header__nav .navigation-list {
  width: 100%;
  max-width: 598px;
}
.header__nav .navigation-list ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 530px) {
  .header__nav .navigation-list ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
}
.header__nav .navigation-list a {
  text-decoration: none;
  color: #323232;
  transition: color 0.3s linear;
}
.header__nav .navigation-list a.active {
  color: #F78434;
  font-weight: 700;
}
.header__nav .navigation-list a:hover {
  color: #F78434;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .header__content {
    margin-bottom: 20px;
  }
}
.header__text {
  width: 467px;
  margin-right: 30px;
}
@media screen and (max-width: 830px) {
  .header__text {
    width: 100%;
    margin-right: 0;
  }
}
.header__text p {
  font-size: 16px;
  letter-spacing: 1.15px;
  line-height: 27px;
  margin-bottom: 42px;
}
.header__title {
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 0.8px;
  line-height: 79px;
  margin-bottom: 25px;
  margin-right: -155px;
  position: relative;
  z-index: 1;
}
.header .form {
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  height: 58px;
  border-radius: 30px;
}
@media screen and (max-width: 830px) {
  .header .form {
    width: 60%;
  }
}
.header .form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header .form__label::before {
  content: url(./../img/icons/email.svg);
  position: absolute;
  top: 21px;
  left: 10px;
}
.header .form__input {
  border: none;
  outline: none;
  width: 225px;
  margin-left: 72px;
  cursor: pointer;
}
@media screen and (max-width: 350px) {
  .header .form__input {
    margin-left: 40px;
  }
}
.header__img img {
  border-radius: 40px 40px 40px 0;
  width: 100%;
}
@media screen and (max-width: 830px) {
  .header__img img {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-bottom: 30px;
  }
}
.logo img {
  margin-right: 10px;
}

.button {
  border: none;
  outline: none;
  background: #F78434;
  font-weight: 700;
  color: white;
  width: 157px;
  height: 58px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s linear;
}
.button:hover {
  background: #e17a31;
}
.button--white {
  background: white;
  color: #323232;
}
.button--white:hover {
  background: rgb(211, 205, 205);
}
.button--play {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
}
.button--play::before {
  content: url(./../../img/icons/play.svg);
  margin-right: 7px;
}
.button--serve {
  background: white;
  color: #F78434;
}
.button--serve:hover {
  background: rgb(211, 205, 205);
}

.companies__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .companies__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .companies__inner {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 900px) {
  .companies__inner img {
    width: 150px;
    margin: 20px 20px;
  }
}

.spaces__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 145px;
}
@media screen and (max-width: 1250px) {
  .spaces__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .spaces__inner {
    margin-bottom: 30px;
  }
}
.spaces__content {
  display: flex;
}
.spaces__img {
  position: relative;
  margin-right: 32px;
}
.spaces__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.spaces__text {
  width: 374px;
  margin-right: 205px;
  flex-shrink: 0;
}
@media screen and (max-width: 1250px) {
  .spaces__text {
    width: 100%;
    flex-shrink: 1;
    margin-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 1250px) and (max-width: 1250px) {
  .spaces__text {
    margin-top: 50px;
  }
}
.spaces__text p {
  margin-bottom: 20px;
  line-height: 27px;
  letter-spacing: 1.15px;
}
.spaces__title {
  margin-bottom: 20px;
}
.spaces__button {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .spaces__button {
    margin-top: 0;
  }
}
.spaces .image-info {
  position: absolute;
  bottom: 87px;
  right: 0;
  width: 300px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 15px;
}
@media screen and (max-width: 660px) {
  .spaces .image-info {
    width: 210px;
    font-size: 12px;
    height: 80px;
  }
}
.spaces .image-info img {
  margin-left: 20px;
}
@media screen and (max-width: 660px) {
  .spaces .image-info img {
    margin: 0 5px;
  }
}
.spaces .image-info__title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.spaces .image-info__text {
  line-height: 27px;
  letter-spacing: 1.15px;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 1100px) {
  .title {
    font-size: 44px;
    margin-right: 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 540px) {
  .title {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 460px) {
  .title {
    font-size: 25px;
    line-height: 20px;
  }
}

.product__inner {
  display: flex;
  align-items: center;
  gap: 96px;
  background: #58BEBF;
  padding-top: 59px;
  border-radius: 20px;
  margin-bottom: 129px;
}
@media screen and (max-width: 850px) {
  .product__inner {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .product__inner {
    margin-bottom: 30px;
  }
}
.product__img img {
  border-radius: 0 20px 0 0;
  display: block;
  border: 25px solid white;
  border-left: none;
  border-bottom: none;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .product__img img {
    display: none;
  }
}
.product__text {
  max-width: 364px;
}
@media screen and (max-width: 850px) {
  .product__text {
    max-width: 100%;
  }
}
.product__text p {
  line-height: 27px;
  letter-spacing: 1.15px;
  color: white;
  margin-bottom: 30px;
}
.product__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: white;
  margin-bottom: 15px;
}
@media screen and (max-width: 1100px) {
  .product__title {
    font-size: 44px;
    margin-right: 0;
    line-height: 50px;
  }
}
@media screen and (max-width: 540px) {
  .product__title {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 460px) {
  .product__title {
    font-size: 25px;
    line-height: 30px;
  }
}
.product__buttons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .product__buttons {
    justify-content: center;
  }
}

.serve {
  position: relative;
}
.serve ::before {
  position: absolute;
  top: -50%;
  bottom: 50%;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #F5F6FA;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .serve ::before {
    display: none;
  }
}
.serve__inner {
  display: flex;
  gap: 30px;
  padding-bottom: 128px;
}
@media screen and (max-width: 768px) {
  .serve__inner {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .serve__inner {
    padding-bottom: 30px;
  }
}
.serve__title {
  margin-bottom: 10px;
  text-align: center;
}
.serve p {
  line-height: 27px;
  letter-spacing: 1.15px;
  text-align: center;
  margin-bottom: 45px;
}
.serve__block {
  padding: 40px 88px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s linear;
  background: white;
}
@media screen and (max-width: 768px) {
  .serve__block {
    background-color: #F5F6FA;
  }
}
@media screen and (max-width: 400px) {
  .serve__block {
    background-color: #F5F6FA;
    padding: 7px 50px;
  }
}
.serve__block:hover {
  background: #F78434;
  color: white;
}
.serve__block:hover .serve__icon {
  fill: white;
}
.serve__icon {
  fill: #F78434;
  margin-bottom: 15px;
  transition: fill 0.3s linear;
}

.benefits {
  text-align: center;
}
.benefits__title {
  margin-bottom: 58px;
}
.benefits__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
}
@media screen and (max-width: 1000px) {
  .benefits__inner {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .benefits__inner {
    margin-bottom: 30px;
  }
}
.benefits .benefits-block {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .benefits .benefits-block {
    max-width: 380px;
  }
}
@media screen and (max-width: 820px) {
  .benefits .benefits-block {
    max-width: 270px;
  }
}
@media screen and (max-width: 575px) {
  .benefits .benefits-block {
    max-width: 212px;
  }
}
.benefits .benefits-block__img {
  margin-bottom: 15px;
}
.benefits .benefits-block__img path {
  fill: #58BEBF;
  transition: fill 0.3s linear;
}
.benefits .benefits-block__img circle {
  fill: rgba(88, 190, 191, 0.2);
  transition: fill 0.3s linear;
}
.benefits .benefits-block__img ellipse {
  fill: rgba(88, 190, 191, 0.2);
  transition: fill 0.3s linear;
}
.benefits .benefits-block__title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
  .benefits .benefits-block__title {
    font-size: 20px;
  }
}
.benefits .benefits-block__text {
  line-height: 27px;
  letter-spacing: 1.15px;
}
@media screen and (max-width: 1000px) {
  .benefits .benefits-block__text {
    line-height: 27px;
    letter-spacing: 0.15px;
  }
}
.benefits .benefits-block:hover path {
  fill: white;
}
.benefits .benefits-block:hover circle {
  fill: #F78434;
}

.testimonials__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
@media screen and (max-width: 820px) {
  .testimonials__header {
    flex-wrap: wrap;
  }
}
.testimonials__title {
  max-width: 454px;
}
@media screen and (max-width: 820px) {
  .testimonials__title {
    min-width: 100%;
  }
}
.testimonials__subtitle {
  max-width: 398px;
  line-height: 27px;
  letter-spacing: 1.15px;
}
@media screen and (max-width: 820px) {
  .testimonials__subtitle {
    min-width: 100%;
  }
}
.testimonials__content {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 58px;
}
@media screen and (max-width: 650px) {
  .testimonials__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .testimonials__content {
    margin-bottom: 0;
  }
}
.testimonials .testimonials-card {
  width: 350px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.3s linear;
}
.testimonials .testimonials-card:hover {
  box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);
}
.testimonials .testimonials-card:hover .testimonials-card__city {
  color: #F78434;
}
.testimonials .testimonials-card__body {
  padding: 31px 29px;
}
.testimonials .testimonials-card__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.testimonials .testimonials-card__text {
  line-height: 27px;
  letter-spacing: 1.15px;
  margin-bottom: 23px;
}
.testimonials .testimonials-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
}
.testimonials .testimonials-card__city {
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #58BEBF;
  transition: color 0.3s linear;
}

.contact-us {
  position: relative;
  background: url(../../../img/contact-us/Bg.svg);
  background-size: cover;
  background-position: center;
  padding: 200px 0 55px 0;
}
.contact-us::before {
  content: url(./../../../img/contact-us/girl.png);
  position: absolute;
  bottom: -2.2px;
  right: 264px;
}
@media screen and (max-width: 1110px) {
  .contact-us::before {
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .contact-us::before {
    display: none;
  }
}
.contact-us__content {
  width: 359px;
}
@media screen and (max-width: 768px) {
  .contact-us__content {
    width: 100%;
  }
}
.contact-us__title {
  color: white;
  margin-bottom: 15px;
}
.contact-us__text {
  color: white;
  line-height: 27px;
  letter-spacing: 1.15px;
  margin-bottom: 30px;
}

.footer__inner {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 86px 0 82px 0;
}
@media screen and (max-width: 940px) {
  .footer__inner {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 940px) {
  .footer__inner {
    margin: 30px 0 10px 0;
  }
}
.footer__info {
  max-width: 300px;
}
.footer__info p {
  margin-bottom: 40px;
  line-height: 27px;
  letter-spacing: 1.15px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__socials {
  display: flex;
  gap: 30px;
}
.footer__socials img {
  transition: transform 0.3s linear;
}
.footer__socials img:hover {
  transform: scale(1.2);
}
.footer__navigation {
  display: flex;
  gap: 85px;
}
@media screen and (max-width: 940px) {
  .footer__navigation {
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .footer__navigation {
    flex-wrap: wrap;
  }
}
.footer .navigation-block__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}
.footer .navigation-block__item {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
  cursor: pointer;
  transition: color 0.3s linear;
}
@media screen and (max-width: 500px) {
  .footer .navigation-block__item {
    line-height: 15px;
    letter-spacing: 0;
  }
}
.footer .navigation-block__item:hover {
  color: #F78434;
}/*# sourceMappingURL=main.css.map */