.footer {
    &__inner {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        margin: 86px 0 82px 0;
        @media screen and (max-width: 940px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: center;
        }
        @media screen and (max-width: 940px) {
            margin: 30px 0 10px 0;
        }
    }

    &__info {
        max-width: 300px;
        p {
            margin-bottom: 40px;
            line-height: 27px;
            letter-spacing: 1.15px;
        }
    }

    &__logo {
        margin-bottom: 15px;
    }

    &__socials {
        display: flex;
        gap: 30px;

        img {
            transition: transform 0.3s linear;
        }

        img:hover {
            transform: scale(1.2);
        }
    }

    &__navigation {
        display: flex;
        gap: 85px;
        @media screen and (max-width: 940px) {
            gap: 10px;
            justify-content: space-evenly;
            width: 100%;
        }
        @media screen and (max-width: 540px) {
           flex-wrap: wrap;
        }
    }

    .navigation-block {
        &__title {
            font-weight: 700;
            font-size: 21px;
            line-height: 32px;
            letter-spacing: 0.5px;
            margin-bottom: 18px;
        }

        &__item {
            font-size: 14px;
            line-height: 27px;
            letter-spacing: 0.5px;
            margin-bottom: 13px;
            cursor: pointer;
            transition: color 0.3s linear;
            @media screen and (max-width: 500px) {
                line-height: 15px;
                letter-spacing: 0;
            }

            &:hover {
                color: $orange-color;
            }
        }
    }
}
