.benefits {
    text-align: center;

    &__title {
        margin-bottom: 58px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 170px;
        @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
            justify-content: space-evenly;
          }
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
          }
    }

    .benefits-block {
        cursor: pointer;
        @media screen and (max-width: 1000px) {
            max-width: 380px;
          }
        @media screen and (max-width: 820px) {
            max-width: 270px;
          }
        @media screen and (max-width: 575px) {
            max-width: 212px;
          }

        &__img {
            margin-bottom: 15px;

            path {
                fill: $bg-color;
                transition: fill 0.3s linear;
            }

            circle {
                fill: rgba(88, 190, 191, 0.2);
                transition: fill 0.3s linear;
            }

            ellipse {
                fill: rgba(88, 190, 191, 0.2);
                transition: fill 0.3s linear;   
            }
        }

        &__title {
            font-weight: 700;
            font-size: 28px;
            text-align: center;
            letter-spacing: 0.5px;
            margin-bottom: 5px;
            @media screen and (max-width: 1000px) {
                font-size: 20px;
              }
        }

        &__text {
            line-height: 27px;
            letter-spacing: 1.15px;
            @media screen and (max-width: 1000px) {
                line-height: 27px;
                letter-spacing: 0.15px;
              }
        }

        &:hover {
            path {
                fill: $white-color;
            }

            circle {
                fill: $orange-color;
            }
        }
    }
}
