.contact-us {
    position: relative;
    background: url(../../../img/contact-us/Bg.svg);
    background-size: cover;
    background-position: center;
    padding: 200px 0 55px 0;

    &::before {
        content: url(./../../../img/contact-us/girl.png);
        position: absolute;
        bottom: -2.2px;
        right: 264px;
        @media screen and (max-width: 1110px) {
            right: 10px;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__content {
        width: 359px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__title {
        color: $white-color;
        margin-bottom: 15px;
    }

    &__text {
        color: $white-color;
        line-height: 27px;
        letter-spacing: 1.15px;
        margin-bottom: 30px;
    }
}
